/* Universal Selectors */
* {
	box-sizing: border-box;
}

body {
	font-family: Times;
	background-repeat: no-repeat;
	background-size: 200%;
	background-color: #C0854A;
}

header {
	background-color:  #4e6685;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color:  white;
}

footer {
	background-color: #364c69;
	padding:  10px;
	text-align: center;
	color:  white;
}

h1 {
	color: white;
	font-size: 40px;
	font-family: Times;
	text-align: center;
	text-decoration-line: underline;
	text-decoration-color: #324249;
	margin: auto;
}

h2 {
	font-size: 40px;
	font family: Times;
	text-align: left;

}

p {
	font-size: px;
	font-family: Times;
	text-align: left;
	color: white;

}

#centerParagraph {
	font-size: 20px;
	font family: Times;
	text-align: center;
	color: white; 
	width: %;
	height: 80%;
}


#imgOne {
	width: 300px;
	height: 300px;
	border-style: dashed;
	border-color: whitesmoke;
	border-width: 15px;
	margin: 10px;
}

#imgTwo {
	width: 300px;
	height: 500px;
	border-style: outset;
	border-color: whitesmoke;
	border-width: 15px;
	margin: 10px ;
}
